@media only screen and (max-width:480px) {
    .formulaire{
        flex-wrap: wrap;
    }
    
    .formulaire2{
        flex-wrap: wrap;
    }
    
    ul{
        flex-wrap: wrap;
        font-size: small;
    }
    
    .footer{
        max-width: 480px;
    }
    
    .bouge{
        flex-wrap: wrap;
    }
    
    .commande{
        flex-wrap: wrap;
    }

    .formulaire2{
        height: 60%;
    width: 65%;
    }

    .boissons-dessert {
        flex-wrap: wrap;
    }

    select {
        color: rgb(71, 71, 71);
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 15px;
        background-color: transparent;
        border: 2px solid #b1b1b1;
        transition: all 0.3s;
        padding: 10px;
        margin-bottom: 40px;
        box-sizing: border-box;
        outline: 0;
        margin-left: 15%;
        display: flex;
        border-radius: 2%;
        width: 335px;
    }
}

@media only screen and (max-width:820px){
    ul{
        flex-wrap: wrap;
        font-size: small;
    }

    .navbar{
        width: 100%;
        justify-content: space-evenly;
    }

    .formulaire{
        flex-wrap: wrap;
    }

    .formulaire2{
        flex-wrap: wrap;
    }

    .boissons-dessert{
        flex-wrap: wrap;
    }

    .commande{
        flex-wrap: wrap;
    }
    
    .bouge{
        margin-left: 5%;
    }
}
